@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  border: 3px solid rgb(236, 37, 37);
}

.success {
  border: 3px solid rgb(64, 255, 64);
}

#errorDiv {
  color: rgb(243, 64, 64);
}

#successDiv {
  color: rgb(99, 242, 99);
}
