@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  border: 3px solid rgb(255, 0, 0);
}

.success {
  border: 3px solid rgb(0, 255, 0);
}

#errorDiv {
  color: rgb(255, 0, 0);
}

#successDiv {
  color: rgb(0, 255, 0);
}
