* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.error {
  border: 2px solid red;
}

.success {
  border: 2px solid green;
}

#errorDiv {
  color: red;
}

#successDiv {
  color: green;
}
